<script lang="ts" setup>
import { ref, reactive } from "vue";
let name = ref("SMILE");
let img = ref("../../feeling_imgs/smile.png");
const color = ref("yellow");
const pictList = ref([
  {
    id: 0,
    img: "../../feeling_imgs/angry.png",
    name: "angry",
    color: "",
  },
  {
    id: 1,
    img: "../../feeling_imgs/cute.png",
    name: "cute",
    color: "",
  },
  {
    id: 2,
    img: "../../feeling_imgs/excited.png",
    name: "excited",
    color: "",
  },
  {
    id: 3,
    img: "../../feeling_imgs/pain.png",
    name: "pain",
    color: "",
  },
  {
    id: 4,
    img: "../../feeling_imgs/shocked.png",
    name: "shocked",
    color: "",
  },
  {
    id: 5,
    img: "../../feeling_imgs/smile.png",
    name: "smile",
    color: "yellow",
  },
]);
function change(id: number) {
  if (id === 0) {
    img.value = pictList.value[0].img;
    name.value = pictList.value[0].name;
  }
  if (id === 1) {
    img.value = pictList.value[1].img;
    name.value = pictList.value[1].name;
  }
  if (id === 2) {
    img.value = pictList.value[2].img;
    name.value = pictList.value[2].name;
  }
  if (id === 3) {
    img.value = pictList.value[3].img;
    name.value = pictList.value[3].name;
  }
  if (id === 4) {
    img.value = pictList.value[4].img;
    name.value = pictList.value[4].name;
  }
  if (id === 5) {
    img.value = pictList.value[5].img;
    name.value = pictList.value[5].name;
    
  }
  pictList.value[5].color="";
}
</script>

<template>
  <v-container>
    <v-row>
      <v-col width="50%">
        <div>
          <v-img :src="img" width="70%" />
        </div>
      </v-col>
      <v-col width="50%" class="justify-center">
        <h1 class="text-md-center">{{ name }}</h1>

        <div height="100%" class="ma-4" width="50%">
          <v-btn block @click="change(0)" class="ButtonColor" :color="pictList[0].color"> ANGRY </v-btn>
        </div>
        <div height="100%" class="ma-4">
          <v-btn block @click="change(1)" class="ButtonColor" :color="pictList[1].color"> CUTE </v-btn>
        </div>
        <div height="100%" class="ma-4">
          <v-btn block @click="change(2)" class="ButtonColor" :color="pictList[2].color"> EXCITED </v-btn>
        </div>
        <div height="100%" class="ma-4">
          <v-btn block @click="change(3)" class="ButtonColor" :color="pictList[3].color"> PAIN </v-btn>
        </div>
        <div height="100%" class="ma-4">
          <v-btn block @click="change(4)" class="ButtonColor" :color="pictList[4].color"> SHOCKED </v-btn>
        </div>
        <div height="100%" class="ma-4">
          <v-btn block @click="change(5)" class="ButtonColor" :color="pictList[5].color"> SMILE </v-btn>
        </div>
      </v-col>
    </v-row>
  </v-container>
</template>

<style scoped>
.ButtonColor:focus {
  background-color: yellow;
}
</style>
