<script lang="ts" setup>
import { ref, computed } from "vue";
let name = ref("");
let price = ref(0);
const products = ref(
  Array.from(Array(100).keys()).map((item) => {
    return {
      id: item,
      name: "Product " + (item + 1),
      price: (Math.floor(Math.random() * 100) + 1) * 10,
    };
  })
);
const list = ref<any[]>([]);
function addClick(item:any){
  list.value.push(item);
}
function add(cal:any){
  price.value = cal + price.value;
}
</script>
<template>
  <v-container fluid>
      <v-row>
        <v-col cols="6">
          <v-container style="height: 85vh; overflow-y: auto">
            <v-row>
              <v-col md="4" v-for="item in products" :key="item.id">
                <v-row>
                  <v-card class="col-md-2 mt-4" style="padding: 10px" max-width="250px">
                    <v-card-item >
                      <div style="text-align: center">
                        <div>{{ item.name }}</div>
                        <div>{{ item.price }}</div>
                        <v-btn style="margin: 5px;" @click="addClick(item),add(item.price) ">ADD</v-btn>
                      </div>
                    </v-card-item>
                  </v-card>
                </v-row>
              </v-col>
            </v-row>
          </v-container>
        </v-col>
        <v-col>
          <v-table style="height: 85vh; overflow-y: auto;">
            <thead>
              <tr>
                <th class="text-left">
                  ID
                </th>
                <th class="text-left">
                  Name
                </th>
                <th class="text-left">
                  Price
                </th>
              </tr>
            </thead>
            <tbody>
              <tr v-if="list.length==0"> <td colspan="3" style="text-align: center;" class="font-weight-bold" ><h2>NO Data</h2></td> </tr>
              <tr
                v-for="item of list" :key="item"
              >
                <td>{{ item.id }}</td>
                <td>{{ item.name }}</td>
                <td>{{ item.price }}</td>
              </tr>
            </tbody>
          </v-table>
          <h1 style="font-size: 60px;" >SUM: {{price}}</h1>
        </v-col>
      </v-row>
  </v-container>

</template>
