<!-- eslint-disable vue/no-side-effects-in-computed-properties -->
<script lang="ts" setup>
import { ref, computed } from "vue";
const MyNumber: any = ref([0]);
const num = ref(0);
const ListNum = computed(() => {
  MyNumber.value = [];
  if(num.value === 0 || !num.value) {
    MyNumber.value = [];
    return MyNumber.value;
  }
  for (let i: number = 1; i <= num.value; i++){
    MyNumber.value.push(i);
  }
  return MyNumber.value;
});

</script>

<template>
  <v-container>
    <v-form>
      <v-text-field
        label="Please input number"
        required
        v-model="num"
        :rules="[(v) => !!v || 'Number is not empty!!']"
      >
      </v-text-field>
    </v-form>
  </v-container>
  <v-container>
    <v-row>
      <v-col cols="12" md="1" v-for="item in ListNum" :key="item" >{{ item }}</v-col>
    </v-row>
  </v-container>
</template>
